.header{
    padding:40px;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 4px solid var(--accent-color);
}

.link_container{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

}

.link{
    padding:  10px 15px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color : var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.link:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}